<?xml version="1.0" encoding="utf-8"?>
<Wix xmlns="http://wixtoolset.org/schemas/v4/wxs"
     xmlns:ui="http://wixtoolset.org/schemas/v4/wxs/ui">
  <Package
    Name="GridBanner"
    Manufacturer="GridSite Technology"
    Version="1.0.0"
    UpgradeCode="{4B64A9D3-7C4C-4E6C-9F3F-79E8D1E2F7E1}"
    Language="1033"
    Scope="perMachine"
    Compressed="yes">

    <MajorUpgrade DowngradeErrorMessage="A newer version of GridBanner is already installed." />
    <MediaTemplate EmbedCab="yes" />

    <!-- UI + EULA -->
    <Property Id="WIXUI_INSTALLDIR" Value="INSTALLFOLDER" />
    <WixVariable Id="WixUILicenseRtf" Value="..\assets\license.rtf" />
    <ui:WixUI Id="WixUI_InstallDir" />

    <!-- Silent installs must pass ACCEPTEULA=1 -->
    <Property Id="ACCEPTEULA" Secure="yes" />
    <Launch Condition="UILevel &gt;= 3 OR ACCEPTEULA = 1"
            Message="You must accept the license agreement. For silent installs, pass ACCEPTEULA=1." />

    <Feature Id="MainFeature" Title="GridBanner" Level="1">
      <ComponentGroupRef Id="GridBannerPublishedFiles" />
    </Feature>

    <StandardDirectory Id="ProgramFiles64Folder">
      <Directory Id="INSTALLROOT" Name="GridSite">
        <Directory Id="INSTALLFOLDER" Name="GridBanner" />
      </Directory>
    </StandardDirectory>

  </Package>
</Wix>


